ul.post-container {
  display: flex;
  flex-wrap: wrap;
}

.post-items {
  border: 1.5px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.post-pic img {
  height: 100px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-body {
  border: 1px solid black;
  padding: 5px;
}

.comment-box {
  border: 1px solid black;
  padding: 10px;
}