

.comment-form form input {
    border-radius: 10px;
    border: none;
    background: rgb(207, 207, 207);
    padding: 5px;
    width: 90%;
    color:rgb(133, 133, 133, 0.5)
}

.comment-form form input:focus {
    color: black;
}