@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Noto+Sans&family=Raleway:wght@100&family=Roboto:ital,wght@1,300&display=swap');
/* font-family: 'Leckerli One', cursive; greeting header
font-family: 'Noto Sans', sans-serif; textarea
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;  error message*/ 


ul.comment-container {
    padding: 0;
}
.comment-box {
  border: none;
  padding: 10px;
  /* border-radius: 10px; */

}

.comment-container{
      display: flex;
    flex-direction: row;
    flex-direction: column;
}

.comment-body{
      display: flex;
    flex-direction: row-reverse;
    font-family:'Leckerli One', cursive ;
    border:none;
    align-items: center;
        padding-bottom: 5px;
}

.comment-items{
    display: flex;
    justify-content: flex-end;
        align-items: center;

}

.delete-button{
    font-family: 'Noto Sans', sans-serif;
    color: gray;
    padding-left: 5px;
}

.delete-button:hover{
    color: red;
}

.author {
    padding-left: 15px;
}

.comment{
        background: antiquewhite;
    border-radius: 15px;
    padding: 10px;

}