@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Noto+Sans&family=Raleway:wght@100&family=Roboto:ital,wght@1,300&family=Shadows+Into+Light&display=swap');
/* font-family: 'Leckerli One', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive; */


html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


main{
    display: flex;
    background-color: #80c8bc;
    padding: 50px;
    justify-content: space-between;
    flex-direction: column;

}


footer > div > p{
    display: block;
    background-color: #efd199;
    height: 100px;
    color:#6287a2;
    margin: auto;
    font-size: 18px;
}

.footer-link {
    text-decoration: none;
    color:#6287a2;
}

.home_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.scroller {
    height: 700px;
    overflow-y: auto;
    /* scroll-snap-type: y mandatory; */

}

.scroller section {
    scroll-snap-align: start;
}

.header > h1 {
    display: flex;
    align-content: stretch;
    justify-content: center;    
}

