body{
    background-color: white;
  }
  .home {
    background-color: white;
    height: fit-content;
    place-items: center;
  }
.home_body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}
.home_container{
    display: flex;
    background-color: lightblue;
    padding-top: 150px;
    padding-bottom: 100px;
    width: 90%;
    color: white;
    padding-left: 48px;
    padding-right: 48px;
    border: 2px solid red;

}
.home_map {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border: 2px solid yellow;
}
.home_index {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 30px 30px;
  color: white;
  font-family: avenir;
  border: 2px solid blue;
}


  path {
    pointer-events: all;
  }
  path:hover {
    opacity: 0.50;
    cursor: pointer;
  }
  .app {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .svg {
    position: absolute;
    top: 50vh;
    left: 50vh;
    }
  .us-state-map{
    width: 1500px;
    height: 900px;
  }
  .map {
    position: absolute;
    top: 140px;
    left: 500px;
  }
  .nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    color:black;
  
    position: fixed;
    z-index: 1;
    padding-top: 3px;
    width: 100%;
    background-color: lightgray;
    border: 1px solid #31363B;
    border-radius: 4px;
  
    
  }
  
  .nav_logo{
    margin-left: 48px
  }
  
  .user_msg{
    border: 1px solid black;
    border-radius: 1px;
    padding: 10px 10px;
  }
  #nav_text{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .nav_btn{
    display: flex;
    align-items: center;
  
  }
  .nav_btn {
    display: flex;
    align-items: center;
    margin-right: 48px;
    margin-left: 48px;
    font-size: 15px;
  }
  
  .nav_btn button{
    background-color: transparent;
    color: black;
    font-weight: bold;
    border: none;
    margin-right: 20px;
    text-decoration: none;
    padding: 0 10px;
    font-size: 15px;
  }
  .nav_btn a{
    background-color: transparent;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    margin-right: 20px;
    text-decoration: none;
    padding: 0 10px;
  }
  .nav_btn button:hover{
    color:pink
  
  }
  .nav_btn a:hover{
    color:pink
  
  }
  
  
  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color:black;
  
    padding-top: 3px;
    width: 100%;
    background-color: lightgray;
    border: 1px solid #31363B;
    border-radius: 4px;
  }
  .footer p{
    padding-left: 50px;
    padding-bottom: 25px;
    font-size: 20px;
  }
    
  
  .drop-down-menu-bt {
  
    background-color: rgba(128, 128, 128, 0.349);
    border-top-left-radius: 1rem;
     border-top-right-radius: 1rem;
    color: white;
    font-size: 1.2rem;
    border: none;
    height: 3rem;
    width: 7rem;
    margin-right: -3rem;
    position: relative;
    top: 0.5rem;
    z-index: 10;
  }
  
  .drop-down-menu {
      position: relative;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      right: 5rem;
      width: 7rem;
      /* top: 13.1rem */
      
  }
  
  .drop-down-menu2 {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 13rem;
    width: 7rem;
    /* top: 13.1rem */
    
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #aaa0a0;
      width: 7rem;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 10;
  
  }
  
  .dropdown-content .db-item {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  
  }
  
  .dropdown-content .db-item:hover {
      background-color: green;
  }
  
  .drop-down-menu:hover .dropdown-content {
      display: block;
  }
  
  .drop-down-menu:hover .drop-down-menu-bt {
      background-color: green;
  } 
  
  
  