@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Lobster&display=swap');
/* font-family: 'Leckerli One', cursive; greeting header 
font-family: 'Lobster', cursive; words
font-family: 'Mali', cursive;
*/ 

.create_post, .user_msg {
  font-family: 'Lobster', cursive;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(223, 223, 223);
  width: 100%;
  box-shadow: 1px 1px 10px rgb(180, 180, 180);
}

/* Logo */
.nav_logo {
  font-family: 'Leckerli One', cursive;
  font-size: 25px;
  text-decoration: none;
  width: 50%;
  text-decoration: none;
  color: #6287a2;
  margin-left: 100px;
}

.nav_logo a {
  text-decoration: none;
  color: #6287a2;
}

/* Nav buttons */
.nav_btn {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 40%;  
}

.nav_btn button {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  margin-right: 20px;
  text-decoration: none;
  padding: 0 10px;
  font-size: 15px;
}


.nav_btn a {
  background-color: transparent;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  border: none;
  margin-right: 20px;
  text-decoration: none;
  padding: 0 10px;
}
  
.nav_btn button:hover{
  color:rgb(87, 87, 87);
}

.nav_btn a:hover{
  color: rgb(87, 87, 87);
}

.drop-down-menu-1 {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: black;
  font-size: 1.2rem;
  border: none;
  height: 3rem;
  width: 7rem;
  margin-right: -3rem;
  position: relative;
  top: 0.5rem;
  z-index: 10;
}
  
  /* .nav_btn > ul{
    width: 40px;
    margin:0 auto;
  } */

.nav_btn > ul > li { 
  list-style: none;
    /* box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC; */
  display: inline-block;
  line-height: 1;
  margin: 1px;
  border-radius: 3px;
  position:relative;
}

.nav_btn > ul > li > a {
  color: inherit;
  text-decoration:none !important;
  font-size: 35px;
  padding: 25px;
}

.nav_btn li ul {
  position: absolute;
  list-style:none;
  text-align:center;
  width:80px;
  top:30px;
  font: bold 15px 'Open Sans Condensed', sans-serif;

  max-height:0px;
  overflow:hidden;

  -webkit-transition:max-height 0.4s linear;
  -moz-transition:max-height 0.4s linear;
  transition:max-height 0.4s linear;
}

.nav_btn li:hover ul {
  max-height:300px;
}

.dropdown-content > li > a {
  font-size: 15px;
  margin: 3px;
}

.dropdown-content > li {
  display: flex;
  justify-content: center;
}

.dropdown-content {
  margin-top: 20px;
  background: rgb(226, 226, 226);
  padding: 0;
}

.dropdown-content > button {
  font-size: 12px;
}

.create_post > a {
  text-decoration: underline;
}

.create_post {
  cursor: pointer;
}

.user_msg {
  display: flex;
  align-items: baseline;
  font-size: 20px;
}

.create_post:hover {
  color: rgb(87, 87, 87);
}

.user_msg > p {
  padding-right: 20px;
}

.user-dropdown {
  margin-top: 20px;
  background-color:rgb(226, 226, 226);
  padding: 0;
}

.user-dropdown > a {
  font: bold 15px 'Open Sans Condensed', sans-serif;
  padding-bottom: 10px;
}