html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Leckerli+One&family=Noto+Sans&family=Raleway:wght@100&family=Roboto:ital,wght@1,300&family=Shadows+Into+Light&display=swap');
/* font-family: 'Fredoka', sans-serif;
font-family: 'Leckerli One', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive; */




.state_container {
    position: relative;
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
    flex-direction: row;
    justify-content: center;
}






.state_info {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  background-color: #6287a2;
  height: 100%;
  padding: 25px;
  border: 2px aliceblue solid;

}
.state_info h1, h2 {
  font-family: 'Noto Sans', sans-serif;
  color: aliceblue;
}

.state_info p {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: aliceblue;
  font-size: 26px;
}
.state_info a {
  font-size: 26px;
  text-decoration: none;
  color: rgb(173, 183, 192);
  font-family: 'Shadows Into Light', cursive; 
}



.scrolling-wrapper {
  position: relative;
  height: 800px;
  overflow-y: auto;


}

.scrolling-wrapper div {
    scroll-snap-align: start;
}

