.state-show-wrapper{
    padding-left: 100px;
}

.state_container{
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
    width: 90%;
    height: 1050px;
    padding-left: 48px;
    padding-right: 48px;
    border: 2px solid black;

}
.state_info {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
.state_posts {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 30px 30px;
  font-family: avenir;
  border: 1px solid blue;
}





